/app/build/
/app/.cxx/
/build
/build/
/captures
.cxx
/.cxx/
.DS_Store
.externalNativeBuild
.gradle
/.gradle/
/.idea
*.iml
.kotlin
/local.properties
agent-tools/
*.apk
!releases/WideMelonDS-debug.apk
artifacts/
